@using MvcAddUserExample.Constants;
@{
    ViewBag.Title = "Registration Succeeded";
}

<h2>The user was registered successfully.</h2>

<p>
    @Html.ActionLink("Add another", ActionNames.SHOW_REGISTRATION_FORM)
</p>
